<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='style.css' />
  </head>
  <body>

  <nav>
    <ul>
        <li><a href="/guoying">Guoying</a> | </li>
        <li><a href="/yu">Yu</a> | </li>
        <li><a href="/hailun">Hailun</a></li>
    </ul>
  </nav>