<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <style>
    li {
        list-style: none;
        display: inline-block;
        font-size: 1.5em;
    }
  </style>
  <nav>
    <ul>
        <li><a href="/guoying">Guoying</a> | </li>
        <li><a href="/yu">Yu</a> | </li>
        <li><a href="/hailun">Hailun</a></li>
    </ul>
  </nav>