<% include ./partials/header.ejs %>
<h1>Guoying</h1>
    <p>Guoying owns a factory of gas cylinders. As opposed to many other families, he is the best cook among his family.</p>
    <p>He said he's always a talented student at school but he could not speak English well no matter how hard he tried.  </p>
    
  </body>
</html>
