<% include ./partials/header.ejs %>
    <h1>Hailun</h1>
    <p>Hailun studied in an international high school in China and went to college in Canada.</p>
    <p>From what she learned in the past few years of college, she loves coding much more than writing essays.</p>
  </body>
</html>
