<% include ./partials/header.ejs %>
    <h1>Yu</h1>
    <p>Yu and Guoying went to the same university and they got married after graduation.</p>
    <p>She works in Foreign Trade Department in Guoying's company in the past five years.</p>
  </body>
</html>
